
html, .fullscreen { display: flex; height: 100%; margin: 0; padding: 0; width: 100%; }
.container { margin: auto; text-align: center;}
.title {font-size: 3rem}

body {background: black; font: 20px Roboto; color: cyan; text-transform: uppercase; height: 100vw; display: flex; justify-content: center; align-items: center; text-align: center;}
#date {font-size: 30px}
#time {font-size: 80px}
#center {}
